@page "/movies/create"
@inject NavigationManager navigationManager

<h3>Create</h3>

<button class="btn btn-primary" @onclick="SaveMovie">Save Movie</button>

@code {
    public void SaveMovie()
    {
        navigationManager.NavigateTo("movie");
    }
}
